@font-face {
  font-family: "Dosis";
  src: url("../font/Dosis/static/Dosis-Regular.ttf");
}
@font-face {
  font-family: "Dosis semibold";
  src: url("../font/Dosis/static/Dosis-SemiBold.ttf");
}
@font-face {
  font-family: "Noto";
  src: url("../font/Noto_Serif/NotoSerif-Regular.ttf");
}

h1 {
  font-family: "Dosis semibold";
  /* color: #c9ebff; */
  color: #003452;
  margin-left: 30px;
}
p {
  font-family: "Noto";
  color: #003452;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}
a {
  font-family: "Dosis semibold";
  text-decoration: none;
}
dfn {
  font-family: "Noto";
  font-size: 17px;
}
/* main {
  height: 82.5vh;
  background-image: url("assets/forside_baggrund.svg");
  background-size: cover;
} */

/* body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(45deg, #3689d1, #bed4fa);
} */
#index_body {
  margin: 0;
  height: 100vh;
  background-image: url("assets/index_baggrund_1.png");
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

#portfolio_body {
  margin: 0;
  height: 100vh;
  background-image: url("assets/portfolio_baggrund.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

/*-----navigation----------------------*/
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav {
  /* outline: 2px dashed blue; */
  grid-column: 2/3;
  margin-top: 10px;
}

ul {
  /* outline: 1px dashed red; */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
ul a {
  text-decoration: none;
  font-size: 150%;
  color: #3689d1;
  font-family: "Dosis";
}

.first {
  /* height: 2vh;
    width: 4vw; */
  color: #c9ebff;
  background-color: #3689d1;
  border-radius: 15px;
  padding-left: 30%;
  padding-right: 30%;
}
/*-----------------------------------*/

/*-----footer------------------------*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 50%;
  margin-left: 75px;
  margin-right: 75px;
  padding-top: 25px;
}
/*-----------------------------------*/
