@font-face {
  font-family: "Dosis";
  src: url("../font/Dosis/static/Dosis-Regular.ttf");
}
@font-face {
    font-family: "Dosis semibold";
    src: url("../font/Dosis/static/Dosis-SemiBold.ttf");
  }
@font-face {
  font-family: "Noto";
  src: url("../font/Noto_Serif/NotoSerif-Regular.ttf");
}

main {
  height: 100%;
  background-image: url("assets/forside_baggrund.png");
  background-size: cover;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #3689d1, #bed4fa);
}

/*-----navigation----------------------*/
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav {
  /* outline: 2px dashed blue; */
  grid-column: 2/3;
  font-family: "Dosis";
}

ul {
  /* outline: 1px dashed red; */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
ul a {
  text-decoration: none;
  font-size: 150%;
  color: #3689d1;
}

.first {
  /* height: 2vh;
    width: 4vw; */
  color: #c9ebff;
  background-color: #3689d1;
  border-radius: 15px;
  padding-left: 30%;
  padding-right: 30%;
}
/*-----------------------------------*/

h1 {
  font-family: "Dosis semibold";
  color: #c9ebff;
}
p {
  font-family: "Noto";
  color: #003452;
}
a {
  font-family: "Dosis";
  text-decoration: none;
}
